rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{syncsilo=**} {
      allow read, write, update, delete: if true;
    }
    match /{birthday=**} {
      allow read;
      allow write, delete: if false;
    }
  }
}