@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    @apply h-[100vh];
    background-image: linear-gradient(-105deg, #c75acc, #4042c0);
}

.text-area {
    @apply z-[2] absolute top-[50%] left-[50%] my-[-1.5625rem] mx-0;
    transform: translate(-50%, -50%);

    p {
        @apply m-0;
    }

    .p1 {
        @apply text-4xl font-extrabold text-white tracking-wider;
        font-family: 'Roboto', sans-serif;
    }

    .p2 {
        @apply text-white text-xl font-normal mt-2 leading-5;
        font-family: 'Roboto', sans-serif;
    }

    .emoji { 
        all: unset;
        font-family: 'Segoe UI Emoji', sans-serif;
    }
}